#testBorder {
	border: 2px solid black;
}

.testRowHeight {
	height: 2rem;
}

.testWrap {
	word-wrap: normal;
	margin-left: 1rem;
}

.testFlex > li > p {
	display: inline-flex;
	margin: 0px;
	padding: 15px 15px 15px 15px;
}

/* Working Declarations*/

.bg-body-back {
	background-color: #1d1e22;
}

.bg-body-front {
	background-color: #393f4d;
}

#bg-font {
	font-family: Courier;
	color: white;
}

.section-header {
	font-weight: bold;
	text-align: center;
	color: #feda6a;
	font-family: Trebuchet MS;
	margin-top: 10rem;
}

.section-landing-1 {
	border-top: 2px solid #dbffcf;
	border-bottom: 2px solid #dbffcf;
	margin-top: 3rem;
	margin-bottom: 5rem;
	padding: 5rem 2rem 5rem 1rem;
}

.section-landing-23 {
	margin-top: 5rem;
	margin-bottom: 3rem;
	justify-content: center;
}

.profilePic {
	border-color: green;
}

.land-intro {
	padding-left: 60px;
	color: yellow;
}

.land-intro > h1{
	font-weight: bold;
	font-family: Trebuchet MS;
	color: #feda6a;
}

.land-intro > h5{
	color: #fff3cf;
	line-height: 14px;
}

.land-intro > h6{
	margin-top: 1rem;
	font-family: Trebuchet MS;
	color: #fff3cf;
}

.land-intro > p{
	margin-top: 4rem;
	font-family: Trebuchet MS;
	color: #fff3cf;
}

.portfolio-image:hover {
	filter: invert(100%) sepia(50%) saturate(90%) brightness(120%) contrast(90%);
}

.portfolio-info > h6 {
	text-align: center;
	color: #feda6a;
}

.portfolio-info > p {
	text-align: center;
	color: #fff3cf;
}

.contact-msg {
	text-align: center;
	padding-left: 15px;
	margin-left: 0px;
	padding-left: 12px;
	margin-bottom: 1rem;
	padding-right: 12px;
	font-family: Trebuchet MS;
	color: #fff3cf;
}

.contact-form {
	border: 1px solid #dbffcf;
	border-radius: 10px;
	margin: 1px;
	padding: 1rem;
	font-family: Trebuchet MS;
	color: #fff3cf;
}

.contact-btn {
	font-family: Trebuchet MS;
	justify-content: center;
	text-align: center;
}

#footer {
	margin-top: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	font-size: 14px;
	border-top: 2px solid Black;
}

.footer-margin-top{
	margin-top: 10rem;
}

.navLeft {
	text-align: left;
}

.animate-fading {
	animation:fading 6s;
	animation-delay: 3s; 
	animation-iteration-count: 2;
   /*animation-iteration-count: 5;*/
}

@keyframes fading {
	0%{opacity:0}
	50%{opacity:1}
	100%{opacity:0}
}